build/
!build/.gitkeep
dist/*
!dist/phantora_run
trace/

**/.git/
**/.cache/
.venv/
.vscode/
**/__pycache__/
phantora/target/
tests/

# Copied from PyTorch

**/*.pyc
**/*.pyd
**/*.so*
pytorch/aten/build/
pytorch/aten/src/ATen/Config.h
pytorch/aten/src/ATen/cuda/CUDAConfig.h
pytorch/dist/
pytorch/docs/
pytorch/torch.egg-info/
pytorch/torch/_C/__init__.pyi
pytorch/torch/_C/_nn.pyi
pytorch/torch/_C/_VariableFunctions.pyi
pytorch/torch/_VF.pyi
pytorch/torch/return_types.pyi
pytorch/torch/nn/functional.pyi
pytorch/torch/utils/data/datapipes/datapipe.pyi
pytorch/torch/csrc/autograd/generated/*
pytorch/torch/csrc/lazy/generated/*.[!m]*
pytorch/torch/csrc/api/include/torch/version.h
pytorch/torch/csrc/cudnn/cuDNN.cpp
pytorch/torch/csrc/generated
pytorch/torch/csrc/generic/TensorMethods.cpp
pytorch/torch/csrc/inductor/aoti_torch/generated/*.cpp
pytorch/torch/csrc/inductor/aoti_torch/generated/extend/*
pytorch/torch/csrc/jit/generated/*
pytorch/torch/csrc/jit/fuser/config.h
pytorch/torch/csrc/nn/THCUNN.cpp
pytorch/torch/csrc/nn/THCUNN.cwrap
pytorch/torch/bin/
pytorch/torch/cmake/
pytorch/torch/lib/*.a*
pytorch/torch/lib/*.dll*
pytorch/torch/lib/*.exe*
pytorch/torch/lib/*.dylib*
pytorch/torch/lib/*.h
pytorch/torch/lib/*.lib
pytorch/torch/lib/*.pdb
pytorch/torch/lib/*.so*
pytorch/torch/lib/protobuf*.pc
pytorch/torch/lib/build
pytorch/torch/lib/caffe2/
pytorch/torch/lib/cmake
pytorch/torch/lib/include
pytorch/torch/lib/pkgconfig
pytorch/torch/lib/protoc
pytorch/torch/lib/protobuf/
pytorch/torch/lib/tmp_install
pytorch/torch/lib/torch_shm_manager
pytorch/torch/lib/site-packages/
pytorch/torch/lib/python*
pytorch/torch/lib64
pytorch/torch/include/
pytorch/torch/share/
pytorch/torch/test/
pytorch/torch/utils/benchmark/utils/valgrind_wrapper/callgrind.h
pytorch/torch/utils/benchmark/utils/valgrind_wrapper/valgrind.h
pytorch/torch/version.py
pytorch/minifier_launcher.py
pytorch/aten/src/ATen/native/transformers/hip/flash_attn/ck/fmha_fwd_d*
pytorch/aten/src/ATen/native/transformers/hip/flash_attn/ck/fmha_bwd_d*
pytorch/aten/src/ATen/native/transformers/hip/flash_attn/ck/fmha_bwd_convert*
pytorch/aten/src/ATen/native/transformers/hip/flash_attn/ck/fwd_blob*
pytorch/aten/src/ATen/native/transformers/hip/flash_attn/ck/bwd_blob*
pytorch/aten/src/ATen/native/transformers/hip/flash_attn/ck/fmha_fwd_api*
pytorch/aten/src/ATen/native/transformers/hip/flash_attn/ck/fmha_bwd_api*
pytorch/torchgen/packaged/*
!pytorch/torchgen/packaged/README.md
pytorch/.ninja_deps
pytorch/.ninja_log
pytorch/compile_commands.json
pytorch/*.egg-info/
pytorch/docs/source/scripts/activation_images/
pytorch/docs/source/scripts/quantization_backend_configs/